<h1>Edit this post!</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :food%>
        <%= f.text_field :food %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>

    <div>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
        
        <%= f.submit "Submit these changes!" %><br />
        <%= link_to "Back to the list!", posts_path %>
    </div>

    <div>
      <%= image_tag @post.picture.url %>

    </div>

<% end %>
